body {
  background-color: #0D1B2A !important;
  color: #e0e1dd;
  margin: 0;
  font-family: 'Inconsolata', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3 {
  color: #e0e1dd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-colors .modal-content {
  background-color: #1b263b !important
}